/* Slider Container */
.slider-container {
  width: 90%;
  margin: 40px auto;
  position: relative;
}

.your-slider .slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  padding: 20px;
  height: 450px; /* Increased height */
}

.slide img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.slide-content {
  flex: 1;
  padding: 0 20px;
}

.slide-content h3 {
  margin: 0 0 10px;
  color: #1a1a1a;
  font-size: 22px;
  font-weight: bold;
}

.slide-content p {
  margin: 0 0 20px;
  color: #4a4a4a;
  font-size: 16px;
  line-height: 1.5;
}

.slide-content .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;

  font-size: 16px;
  transition: background-color 0.3s;
}

.slide-content .btn:hover {
  background-color: #0056b3;
}
.slick-center {
  -moz-transform: scale(1.08);
  -ms-transform: scale(1.08);
  -o-transform: scale(1.08);
  -webkit-transform: scale(1.08);
  color: #e67e22;

  opacity: 1 !important;
  transform: scale(1.08);
}
.slick-slide {
  opacity: 0.4;
}

.slick-prev,
.slick-next {
  width: 40px !important; /* Set equal width */
  height: 40px !important; /* Set equal height */
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%; /* Makes the arrow completely round */
  border: none; /* Remove any border */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  position: absolute; /* Ensure proper positioning */
  z-index: 1000;
  cursor: pointer;
}
.slick-prev:before,
.slick-next:before {
  width: 40px !important; /* Set equal width */
  height: 40px !important; /* Set equal height */
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  background-color: #ffffff00;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Play/Pause Button */
.play-pause-btn {
  position: absolute;
  top: 10px;
  right: 105px;
  background-color: #ffd700;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

.card-container {
  margin: -70px auto 0 auto;
  padding: 16px; /* Adds inner spacing for content within the container */
  display: flex; /* Aligns children elements horizontally */
  justify-content: center; /* Centers cards within the container */
  align-items: center; /* Aligns cards vertically within the container */
  flex-wrap: wrap; /* Wraps cards to new rows if there’s not enough space */
}

.card-trio {
  position: relative;
  width: 100%;
  height: 400px;
  background: #eaf2fb;
  border-radius: 10px;

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card-mid {
  position: relative;
  width: 100%;
  height: 400px;
  background: white;
  border-radius: 10px;

  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card-head {
  width: 100%;
  height: 130px; /* Adjust height for the header section */
  display: flex;
  flex-direction: column; /* Stack icon and text vertically */
  justify-content: center;
  align-items: center;
  gap: 8px; /* Space between icon and text */
  text-align: center;
  color: black; /* Optional color for text */
}

.card-head .icon {
  font-size: 100px; /* Adjust size of the icon */
  color: #b1cfed; /* Icon color */
}

.card-head .p {
  font-family: "Open Sans", Roboto, Arial, sans-serif;
  font-size: 14.4px;
  color: #333333;
  font-weight: 400;
}
/* .content {
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
padding-bottom: 30px;
} */

.content .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.sci {
  position: relative;

  margin-top: 5px;
}

.sci h1 {
  font-size: 32px;
  font-family: "Open Sans", Roboto, Arial, sans-serif;
  color: #4b62be;
}

@media print, screen and (min-width: 40em) {
  .tool-skills-intelligence .tool-home-content-text {
    display: -ms-flexbox;
    display: flex;
  }
  .tool-skills-intelligence .tool-home-content-text h1 {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
}

.whatis {
  position: relative;
  overflow: hidden;
  clear: both;
}

@media print, screen and (min-width: 40em) {
  .whatis {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .whatis {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.whatis:hover .whatis__item {
  opacity: 0.7;
}

.whatis__item {
  position: relative;
  min-width: 20%;
  min-height: 25rem;
  padding: 2.5rem;
  transition: 0.3s ease-out transform;
  -ms-transform: scale(1);
  transform: scale(1);
  text-align: right;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 50% 50%;
  -ms-flex-positive: 2;
  flex-grow: 2;
  color: #fefefe;
}

@media print, screen and (min-width: 40em) {
  .whatis__item {
    width: 33%;
  }
}

@media print, screen and (min-width: 67.5em) {
  .whatis__item {
    width: 20%;
    min-height: 350px;
  }
}

.whatis__item:hover,
.whatis__item:focus {
  z-index: 5;
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1 !important;
}

.whatis__item:hover a,
.whatis__item:focus a {
  color: inherit;
}

.whatis__item:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  content: "";
  border-top: 12.5rem solid #2f4798;
  border-right: 12.5rem solid transparent;
}

@media print, screen and (min-width: 67.5em) and (max-width: 74.99875em) {
  .whatis__item:before {
    border-top: 8.125rem solid #2f4798;
    border-right: 8.125rem solid transparent;
  }
}

.whatis__item:after {
  font-size: 3.125rem;
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0.5;
  color: #fefefe;
}

@media print, screen and (min-width: 67.5em) and (max-width: 74.99875em) {
  .whatis__item:after {
    font-size: 2.1875rem;
    top: 20px;
    left: 20px;
  }
}

@media print, screen and (max-width: 39.99875em) {
  .whatis__item {
    min-height: 13.75rem;
    padding: 20px;
  }
}

.whatis__link {
  font-size: 1.5625rem;
  font-weight: 300;
  line-height: 2.1875rem;
  position: absolute;
  right: 1.25rem;
  top: 80px;
  display: block;
  max-width: 65%;
  margin-bottom: 1.25rem;
  color: #fefefe;
}

@media print, screen and (min-width: 40em) {
  .whatis__link {
    font-size: 1.1625rem;
  }
}

@media print, screen and (min-width: 67.5em) and (max-width: 74.99875em) {
  .whatis__link {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

@media screen and (min-width: 90em) {
  .whatis__link {
    font-size: 1.475rem;
    right: 2.5rem;
    max-width: 55%;
  }
}

.whatis__link strong {
  font-style: normal;
  color: #fefefe;
}

@media print, screen and (min-width: 40em) {
  .whatis__link strong {
    display: block;
  }
}

.whatis__link:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}

@media print, screen and (min-width: 67.5em) {
  .whatis {
    overflow: visible;
  }
  .whatis__item {
    background-size: inherit;
    min-height: 18.75rem;
  }
}

@media print, screen and (min-width: 67.5em) and (max-width: 39.99875em) {
  .whatis__item {
    min-height: 25rem;
  }
}

@media print, screen and (min-width: 67.5em) and (min-width: 40em) {
  .whatis__item {
    width: 50%;
    padding: 3.125rem;
  }
}

@media print, screen and (min-width: 67.5em) and (min-width: 67.5em) {
  .whatis__item {
    width: 33.333%;
  }
}

@media print, screen and (min-width: 67.5em) {
  .whatis__item a {
    max-width: 80%;
  }
  .whatis__item strong {
    font-size: 1.9875rem;
  }
}

.whatis__skills-intelligence-learning {
  background-color: #2a357e; /* Darker blue */
}

.whatis__skills-intelligence-learning:before {
  border-top-color: #1c2460; /* Adjusted to match darker background */
}

.whatis__skills-intelligence-technology {
  background-color: #4b7419; /* Darker green */
}

.whatis__skills-intelligence-technology:before {
  border-top-color: #375610; /* Adjusted to match darker background */
}

.whatis__skills-intelligence-future-jobs {
  background-color: #6a1c7c; /* Darker purple */
}

.whatis__skills-intelligence-future-jobs:before {
  border-top-color: #511162; /* Adjusted to match darker background */
}

.whatis__skills-intelligence-employment-trends {
  background-color: #c76a00; /* Darker orange */
}

.whatis__skills-intelligence-employment-trends:before {
  border-top-color: #a95400; /* Adjusted to match darker background */
}

.whatis__skills-intelligence-workplace-trends {
  background-color: #1e645e; /* Darker teal */
}

.whatis__skills-intelligence-workplace-trends:before {
  border-top-color: #154d48; /* Adjusted to match darker background */
}

.whatis__skills-intelligence-green-observatory {
  background-color: #5753b0; /* Darker violet */
}

.whatis__skills-intelligence-green-observatory:before {
  border-top-color: #3f3a8a; /* Adjusted to match darker background */
}

.showFigure {
  text-align: center;
  font-weight: 700;
  color: var(--secondary-background);
  font-size: 2.5rem;
}
.cardmain {
  font-size: 1.2rem;
  color: #4e545a;
}
.cardSub {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.trendslogo {
  width: 70px;
  position: absolute;
  z-index: 99999;
  top: 20px;
  left: 15px;
}



